<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mitr">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @{
        ViewBag.Title = "Home Page";
    }

    <div class="bg_banner">
        <div class="text_Bn" name="NameBanner">FindPartyToPaly</div>
        <div class="intro">FindPartyToPaly is webside</div>

    </div>

</body>
</html>